.container {
    display: flex;
    flex-direction: column;
}
.search__title {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    .searchList_item {
        width: 20%;
        margin: 15px 5px;
    }
}